<section
    class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">
                Solar Roof
            </h2>
            <p class="text-black text-sm">
                Produce Clean Energy From Your Roof
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-6 flex mx-auto">
                <a
                    class="border-[3px] border-gray-600 bg-gray-600 text-[14px] rounded font-medium text-white px-[80px] py-2 inline-block transition-colors hover:bg-black hover:border-black hover:text-white"
                    href="#"
                >
                    Order Now
                </a>

                <a
                    class="border-[3px] border-white bg-white text-[14px] rounded font-medium text-black px-[80px] py-2 transition-colors hover:bg-black hover:border-black hover:text-white inline-flex justify-center items-center"
                    href="#"
                >
                    Learn More
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img
            src="/solarroof.avif"
            alt="Solar Roof"
            class="h-full w-full object-cover object-center"
        />
    </div>
</section>
