<header 
    class="py-2 px-10 items-center fixed top-0 w-full justify-between z-40 text-white backdrop-blur-[70px] hidden"
    id="headerScroll"
>
    <nav>
        <h2 class="text-lg">Model S</h2>
    </nav>
    <nav>
        <ul class="flex space-x-[50px] text-xs font-bold mr-5">
            <li><a href="">View Inventory</a></li>
            <li><a href="">Demo Drive</a></li>
            <li><a href="">Compare</a></li>
            <li><a href="" class="bg-black px-4 py-2 rounded">Order Model S</a></li>
        </ul>
    </nav>
</header>

