<!--Home -->
<section
    class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
            <h2 class="text-black text-base">
                <b>Plaid</b>
            </h2>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div
                class="flex gap-x-6 mx-auto text-white justify-between py-3 px-10"
            >
                <section class="w-1/8 mx-8">
                    <div>
                        <p class="mb-2 font-bold text-2xl">396 mi</p>
                        <p class="mt-0 text-xs">Range (EPA est.)</p>
                    </div>
                </section>
                <section class="w-1/8 mx-8">
                    <div>
                        <p class="mb-2 font-bold text-2xl">1.99 s</p>
                        <p class="mt-0 text-xs">0-60 mph</p>
                    </div>
                </section>
                <section class="w-1/8 mx-8">
                    <div>
                        <p class="mb-2 font-bold text-2xl">200 mph</p>
                        <p class="mt-0 text-xs">Top Speed</p>
                    </div>
                </section>
                <section class="w-1/8 mx-8">
                    <div>
                        <p class="mb-3 font-bold text-2xl">1,020 hp</p>
                        <p class="mt-0 text-xs">Peak Power</p>
                    </div>
                </section>
            </div>

            <div class="gap-x-6 flex mx-auto">
                <a
                    class="border-[3px] border-white bg-white text-[14px] rounded font-medium text-black px-[80px] py-2 inline-block transition-colors hover:bg-black hover:border-black hover:text-white"
                    href="#"
                >
                    Order Now
                </a>

                <a
                    class="border-[3px] border-white text-[14px] rounded font-medium text-white px-[80px] py-2 transition-colors hover:bg-black hover:border-black hover:text-white inline-flex justify-center items-center"
                    href="#"
                >
                    Demo Drive
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img
            src="/models-home.avif"
            alt="Home Model S"
            class="h-full w-full object-cover object-center"
        />
    </div>
</section>

<!--Interior of the future -->
<section class="w-full flex items-center justify-center">
    <div
        class="w-full bg-gradient-to-b from-gray-900 to-black text-white py-14"
    >
        <h1
            class="text-[25px] font-medium flex items-center justify-center h-full"
        >
            Interior of the Future
        </h1>
    </div>
</section>

<section>
    <img
        src="/models-interior.jpg"
        alt="Interior Model S"
        class="h-full w-full object-cover object-center"
    />
</section>

<!-- Menu Scroll -->
<section id="section1" class="bg-black pt-40 pb-40 section">
    <div class="flex justify-center items-center">
        <video autoplay muted loop src="/models.webm" class="w-[70%]"></video>
    </div>

    <div class="flex justify-center items-center mt-10">
        <div class="text-white text-left">
            <div class="text-left text-gray-600 space-x-[3px] menu">
                <a href="#" data-section-id="section1"
                    ><i class="fa-solid fa-circle fa-xs text-white"></i></a
                >
                <a href="#" data-section-id="section2"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section3"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section4"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section5"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
            </div>
            <h1 class="font-medium text-base">Cinematic Experience</h1>
            <div class="w-[600px]">
                <p class="mt-4 text-sm">
                A 17” touchscreen with left-right tilt offers 2200 x 1300 resolution, true colors and exceptional responsiveness for gaming, movies and more.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="section2" class="bg-black hidden pt-40 pb-40 section">
    <div class="flex justify-center items-center">
        <video autoplay muted loop src="/models1.webm" class="w-[70%]"></video>
    </div>

    <div class="flex justify-center items-center mt-10">
        <div class="text-white text-left">
            <div class="text-left text-gray-600 space-x-[3px] menu">
                <a href="#" data-section-id="section1"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section2"
                    ><i class="fa-solid fa-circle fa-xs text-white"></i></a
                >
                <a href="#" data-section-id="section3"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section4"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section5"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
            </div>
            <h1 class="font-medium text-base">Yoke Steering</h1>
            <div class="w-[600px]">
                <p class="mt-4 text-sm">
                A bold new approach gives you a true connection to Model S, offering better Steeringfeel and unobstructed views of your dash and the road ahead. Tap the brake and Model S automatically selects the correct direction to start your trip.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="section3" class="bg-black hidden pt-40 pb-40 section">
    <div class="flex justify-center items-center">
        <video autoplay muted loop src="/models2.webm" class="w-[70%]"></video>
    </div>

    <div class="flex justify-center items-center mt-10">
        <div class="text-white text-left">
            <div class="text-left text-gray-600 space-x-[3px] menu">
                <a href="#" data-section-id="section1"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section2"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section3"
                    ><i class="fa-solid fa-circle fa-xs text-white"></i></a
                >
                <a href="#" data-section-id="section4"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section5"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
            </div>
            <h1 class="font-medium text-base">Perfect Environment</h1>
            <div class="w-[600px]">
                <p class="mt-4 text-sm">
                Air vents are hidden throughout the cabin, while tri-zone temperature controls, ventilated seats and HEPA filtration deliver the perfect environment.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="section4" class="bg-black hidden pt-40 pb-40 section">
    <div class="flex justify-center items-center">
        <video autoplay muted loop src="/models3.webm" class="w-[70%]"></video>
    </div>

    <div class="flex justify-center items-center mt-10">
        <div class="text-white text-left">
            <div class="text-left text-gray-600 space-x-[3px] menu">
                <a href="#" data-section-id="section1"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section2"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section3"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section4"
                    ><i class="fa-solid fa-circle fa-xs text-white"></i></a
                >
                <a href="#" data-section-id="section5"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
            </div>
            <h1 class="font-medium text-base">Redesigned Second Row</h1>
            <div class="w-[600px]">
                <p class="mt-4 text-sm">
                Seating for three adults, with extra legroom, headroom and a stowable armrest with integrated storage and wireless charging.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="section5" class="bg-black hidden pt-40 pb-40 section">
    <div class="flex justify-center items-center">
        <video autoplay muted loop src="/models4.webm" class="w-[48%] h-[30%]"></video>
    </div>

    <div class="flex justify-center items-center mt-10">
        <div class="text-white text-left">
            <div class="text-left text-gray-600 space-x-[3px] menu">
                <a href="#" data-section-id="section1"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section2"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section3"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section4"
                    ><i class="fa-solid fa-circle fa-xs"></i></a
                >
                <a href="#" data-section-id="section5"
                    ><i class="fa-solid fa-circle fa-xs text-white"></i></a
                >
            </div>
            <h1 class="font-medium text-base">Console-Grade Gaming</h1>
            <div class="w-[600px]">
                <p class="mt-4 text-sm">
                Up to 10 teraflops of processing power unlock in-car gaming on-par with today’s newest consoles. Play from any seat with wireless controller and headset compatibility.
                </p>
            </div>
            
        </div>
    </div>
</section>

<!--3 Photos y Text -->
<div class="relative flex items-center justify-center h-screen bg-black text-white pb-40 z-30">
    <div>
        <div class="flex items-center justify-center w-[1000px]">
            <img src="extrasmodels.avif" alt="" class="w-[500px]">
            <div class="ml-4">
                <h1 class="font-medium pb-2">Stay Connected</h1>
                <p class="text-sm">Instantly connect with multi-device Bluetooth, or fast charge devices with wireless and 36-watt USB-C charging.</p>
            </div>
        </div>
        <div class="flex items-center justify-center w-[1000px]">
            <div class="mr-4">
                <h1 class="font-medium pb-2">Immersive Sound</h1>
                <p class="text-sm">A 22-speaker, 960-watt audio system with Active Road Noise Reduction offers immersive listening and studio-grade sound quality.</p>
            </div>
            <video autoplay loop muted src="extrasmodels1.webm" class="w-[500px]"></video>
        </div>
        <div class="flex items-center justify-center w-[1000px]" >
            <img src="extrasmodels2.avif" alt="" class="w-[500px]">
            <div class="ml-4">
                <h1 class="font-medium pb-2">Room for Everything</h1>
                <p class="text-sm">With front and rear trunks and fold-flat seats you can fit your bike without taking the wheel off—and your luggage too.</p>
            </div>
        </div>
    </div>
</div>

<!-- ModelS Blue -->
<div class="relative h-screen w-screen text-center -mt-[110px] z-10">
    <div class="z-40 relative h-full flex flex-col -top-20">
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="flex gap-x-6 mx-auto text-white justify-between py-3 px-10">   
                <section class="w-1/8 mx-[90px]">
                    <div>
                        <p class="mb-2 font-bold text-2xl">1,020 hp</p>
                        <p class="mt-0 text-xs">Peak Power</p>
                    </div>
                </section>
                <section class="w-1/8 mx-[90px]">
                    <div>
                        <p class="mb-2 font-bold text-2xl">9.23 a</p>
                        <p class="mt-0 text-xs">@155 mph 1/4 mile</p>
                    </div>
                </section>
                <section class="w-1/8 mx-[90px]">
                    <div>
                        <p class="mb-2 font-bold text-2xl">1.99 s</p>
                        <p class="mt-0 text-xs">0-60 mph</p>
                    </div>
                </section>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10 ">
        <img
            src="/automodels.avif"
            alt="Auto Model S"
            class="h-full w-full object-cover object-center"
        />
    </div>
</div>

<!-- Plaid Beyond -->
<div class="relative flex items-center justify-center bg-white text-black -mt-28 z-30 pt-12">
    <div class="flex w-[1100px]">
        <div class="w-[1200px] border-black">
            <h2 class="text-base font-medium">Plaid</h2>
            <h1 class="text-3xl font-medium pb-5">Beyond Ludicrous</h1>
            <div class="gap-x-6 flex mx-auto">
                <a
                    class="border-[3px] border-black bg-white text-[14px] rounded font-medium text-black px-[45px] py-2 inline-block transition-colors hover:bg-black hover:border-black hover:text-white"
                    href="#"
                >
                    Order Now
                </a>

                <a
                    class="border-[3px] border-black text-[14px] rounded font-medium text-black px-[25px] py-2 transition-colors hover:bg-black hover:border-black hover:text-white inline-flex justify-center items-center"
                    href="#"
                >
                    Compare Models
                </a>
            </div>
        </div>
        <div class="ml-8">
            <p class="text-sm">Model S Plaid has the quickest acceleration of any vehicle in production. Updated battery architecture for all Model S trims enables back-to-back track runs without performance degradation. Chat with a Tesla Advisor to learn more about Model S or schedule a demo drive today.</p>
        </div>
    </div>
</div>

<!-- Electric Powertrain -->
<div class="relative flex items-center justify-center bg-white text-black pt-40">
    <div class="flex w-[1100px]">
        <div class="w-[800px]">
            <h2 class="text-3xl font-medium pb-5">Electric Powertrain</h2>
            <p class="text-sm">Model S platforms unite powertrain and battery technologies for unrivaled performance, range and efficiency. New module and pack thermal architecture allows faster charging and gives you more power and endurance in all conditions.</p>
        </div>
    </div>
</div>

<!-- Menu Hidden -->
<div id="motor1" class="flex items-center justify-center">
    <img src="/modelsmotor.avif" alt="" class="w-[90%]">
</div>
<div id="motor2" class="items-center justify-center hidden">
    <img src="/modelsmotorplaid.avif" alt="" class="w-[90%]">
</div>

<div class="relative flex items-center justify-center bg-white text-curret pt-16">
    <div class="flex w-[1100px] space-x-8 motion-reduce:">
        <a href="" id="descMotor1" data-section-id="motor1">
            <div>
                <hr id="line1" class="w-[100%] h-1 my-4 dark:bg-black">
                <h1 class="text-base font-bold mb-3">Model S</h1>
                <p class="text-sm">Dual Motor All-Wheel Drive unlocks more range than any other vehicle in our current lineup, with insane power and maximum control.
                </p>
                <footer class="flex flex-col flex-grow justify-end mt-5">
                    <div class="flex gap-x-3 space-x-4">   
                        <section>
                            <div>
                                <p class="font-medium text-2xl">3.1 s</p>
                                <p class="text-xs">0-60 mph</p>
                            </div>
                        </section>
                        <section class="ml-4">
                            <div>
                                <p class="font-medium text-2xl">405 mi</p>
                                <p class="text-xs">Range (EPA est.)</p>
                            </div>
                        </section>
                        <section class="ml-4">
                            <div>
                                <p class="font-medium text-2xl">670 hp</p>
                                <p class="text-xs">Peak Power</p>
                            </div>
                        </section>
                    </div>
                </footer>
            </div>
        </a>
        <a href="" id="descMotor2" data-section-id="motor2" class="text-gray-400">
            <div>
                <hr id="line2" class="w-[100%] h-1 my-4 dark:bg-gray-400">
                <h1 class="text-base font-bold mb-3">Model S Plaid</h1>
                <p class="text-sm">Maintain 1,000+ horsepower all the way to 200 mph with Tri-Motor All-Wheel Drive, featuring torque vectoring and three independent carbon-sleeved rotors. 
                </p>
                <footer class="flex flex-col flex-grow justify-end mt-5">
                    <div class="flex gap-x-3 space-x-4">   
                        <section>
                            <div>
                                <p class="font-medium text-2xl">1.99 s*</p>
                                <p class="text-xs">0-60 mph</p>
                            </div>
                        </section>
                        <section class="ml-4">
                            <div>
                                <p class="font-medium text-2xl">396 mi</p>
                                <p class="text-xs">Range (EPA est.)</p>
                            </div>
                        </section>
                        <section class="ml-4">
                            <div>
                                <p class="font-medium text-2xl">1,020 hp</p>
                                <p class="text-xs">Peak Power</p>
                            </div>
                        </section>
                    </div>
                </footer>
            </div>

        </a>
    </div>
</div>

<p class="text-center text-xs p-14">* With rollout subtracted</p>

<!-- ModelS Red -->
<div>
    <img src="/modelsred.avif" alt="">
</div>

<div class="relative flex items-center justify-center bg-black text-white -mt-[270px] z-30 pt-10">
    <div class="flex w-[1100px]">
        <div class="w-[1200px] border-black">
            <h2 class="text-base font-medium">Exterior</h2>
            <h1 class="text-3xl font-medium pb-5">Designed for Efficiency</h1>
            <div class="gap-x-6 flex mx-auto">
                <a
                    class="border-[3px] border-white bg-black text-[14px] rounded font-medium text-white px-[50px] py-2 inline-block transition-colors hover:bg-white hover:text-black"
                    href="#"
                >
                    Order Now
                </a>

                <a
                    class="border-[3px] border-white bg-black text-[14px] rounded font-medium text-white px-[40px] py-2 inline-block transition-colors hover:bg-white hover:text-black"
                    href="#"
                >
                    View Inventory
                </a>
            </div>
        </div>
        <div class="ml-8">
            <p class="text-sm">With a drag coefficient of just .208 Cd, the lowest on the planet, Model S is built for speed, endurance and range. Improved aerodynamics and a wider chassis offer more responsive performance so you can take corners quicker and with more confidence</p>
        </div>
    </div>
</div>

<!--3 Photos y Text -->
<div class="relative flex items-center justify-center h-screen bg-black text-white pt-20 pb-20">
    <div>
        <div class="flex items-center justify-center w-[1000px]">
            <div class="mr-8">
                <h1 class="font-medium pb-2">Relentless Performance</h1>
                <p class="text-sm">Staggered, performance wheels and tires keep the car planted and help transfer maximum power down to the road.</p>
            </div>
            <img src="/modelsrueda.avif" alt="" class="w-[500px]">
        </div>
        <div class="flex items-center justify-center w-[1000px]">
            <img src="/modelspara.avif" alt="" class="w-[500px]">
            <div class="ml-8">
                <h1 class="font-medium pb-2">Optimized Aerodynamics</h1>
                <p class="text-sm">Attention to detail on all exterior surfaces makes Model S the most aerodynamic production car on Earth.</p>
            </div>
        </div>
        <div class="flex items-center justify-center w-[1100px]">
            <div class="mr-8 text-left">
                <h1 class="font-medium pb-2">Refined Styling</h1>
                <p class="text-sm">An iconic silhouette meets refreshed, elegant proportions.</p>
            </div>
            <img src="/modelstrom.avif" alt="" class="w-[500px]">
        </div>
    </div>
</div>

<!-- Road Range -->
<div class="flex">
  <div class="w-[79%]">
    <div class="z-10">
        <video autoplay loop muted src="/modelsroad.mp4" class="object-cover object-center"></video>
    </div>
    <div class="relative text-center -mt-[110px] z-10">
        <footer class="flex flex-col flex-grow justify-end">
            <div class="flex text-white text-center justify-center">   
                <section class="w-1/6 mx-[25px]">
                    <div>
                        <p class="mb-2 font-bold text-2xl">405 mi</p>
                        <p class="mt-0 text-xs">Go anywhere with up to 405 miles of estimated range on a single charge</p>
                    </div>
                </section>
                <section class="w-1/6 mx-[25px]">
                    <div>
                        <p class="mb-2 font-bold text-2xl">15 min</p>
                        <p class="mt-0 text-xs">Recharge up to 200 miles in 15 minutes at Supercharger locations</p>
                    </div>
                </section>
                <section class="w-1/6 mx-[25px]">
                    <div>
                        <p class="mb-2 font-bold text-2xl">45,000 +</p>
                        <p class="mt-0 text-xs">Superchargers placed along popular routes</p>
                    </div>
                </section>
            </div>
        </footer>
    </div>
    
  </div>
  <div class="w-1/5 flex flex-col justify-end pt-12 pl-12">
    <h2 class="text-base">Range</h2>
    <h1 class="text-2xl font-medium pb-4">Go Anywhere</h1>
    <p class="text-sm">With up to 405 miles of estimated range and access to the world’s largest and most powerful fast charging network, you’ll spend less time plugged in and more time on the road. Chat with a Tesla Advisor to learn more about Model S or schedule a demo drive today.</p>
    <div class="mt-auto">
      <button  class="border-[3px] border-black bg-white text-[14px] rounded font-medium text-black px-[122px] py-2 inline-block transition-colors hover:bg-black hover:border-black hover:text-white">Order Now</button>
    </div>
    <div class="pt-4 pb-10">
        <button class="text-[14px] rounded font-medium text-black px-[110px] py-2inline-flex justify-center items-center">Find My Route</button>
    </div>
  </div>
</div>

<!-- Travel -->
<section class="bg-white pt-[100px]">
    <div class="p-20 ml-[320px]">
        <h1 class="text-[28px] font-medium pb-5">Freedom to Travel</h1>
        <p>Enter a destination on your touchscreen and Trip Planner will automatically calculate your route with Superchargers along the way.</p>
    </div>
    <div id="motor1" class="flex items-center justify-center">
        <img src="/ModelSAngeles.avif" alt="" class="w-[70%]">
    </div>
    <div id="motor2" class="items-center justify-center hidden">
        <img src="/ModelSTahoe.avif" alt="" class="w-[70%]">
    </div>
    <div id="motor3" class="items-center justify-center hidden">
        <img src="/ModelSBoston.avif" alt="" class="w-[70%]">
    </div>
    <div id="motor4" class="items-center justify-center hidden">
        <img src="/ModelSOrlando.avif" alt="" class="w-[70%]">
    </div>

    <div class="relative flex items-center justify-center bg-white text-curret pt-16">
        <div class="flex w-[1100px] space-x-8 motion-reduce:">
            <a href="" id="descMotor1" data-section-id="motor1">
                <div>
                    <hr id="line1" class="w-[100%] h-1 my-4 dark:bg-black">
                    <h1 class="text-base font-bold mb-3">Model S</h1>
                    <p class="text-sm">Dual Motor All-Wheel Drive unlocks more range than any other vehicle in our current lineup, with insane power and maximum control.
                    </p>
                    <footer class="flex flex-col flex-grow justify-end mt-5">
                        <div class="flex gap-x-3 space-x-4">   
                            <section>
                                <div>
                                    <p class="font-medium text-2xl">3.1 s</p>
                                    <p class="text-xs">0-60 mph</p>
                                </div>
                            </section>
                            <section class="ml-4">
                                <div>
                                    <p class="font-medium text-2xl">405 mi</p>
                                    <p class="text-xs">Range (EPA est.)</p>
                                </div>
                            </section>
                            <section class="ml-4">
                                <div>
                                    <p class="font-medium text-2xl">670 hp</p>
                                    <p class="text-xs">Peak Power</p>
                                </div>
                            </section>
                        </div>
                    </footer>
                </div>
            </a>
            <a href="" id="descMotor2" data-section-id="motor2" class="text-gray-400">
                <div>
                    <hr id="line2" class="w-[100%] h-1 my-4 dark:bg-gray-400">
                    <h1 class="text-base font-bold mb-3">Model S Plaid</h1>
                    <p class="text-sm">Maintain 1,000+ horsepower all the way to 200 mph with Tri-Motor All-Wheel Drive, featuring torque vectoring and three independent carbon-sleeved rotors. 
                    </p>
                    <footer class="flex flex-col flex-grow justify-end mt-5">
                        <div class="flex gap-x-3 space-x-4">   
                            <section>
                                <div>
                                    <p class="font-medium text-2xl">1.99 s*</p>
                                    <p class="text-xs">0-60 mph</p>
                                </div>
                            </section>
                            <section class="ml-4">
                                <div>
                                    <p class="font-medium text-2xl">396 mi</p>
                                    <p class="text-xs">Range (EPA est.)</p>
                                </div>
                            </section>
                            <section class="ml-4">
                                <div>
                                    <p class="font-medium text-2xl">1,020 hp</p>
                                    <p class="text-xs">Peak Power</p>
                                </div>
                            </section>
                        </div>
                    </footer>
                </div>

            </a>
        </div>
    </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuLinks = document.querySelectorAll(".menu a");
        const sections = document.querySelectorAll(".section");

        menuLinks.forEach(function (link) {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                // Obtener el ID de la sección correspondiente al enlace de menú clicado
                const targetSectionId = this.getAttribute("data-section-id");

                // Ocultar todas las secciones
                sections.forEach(function (section) {
                    section.classList.add("hidden");
                });

                // Mostrar la sección correspondiente al ID
                const targetSection = document.getElementById(targetSectionId);
                if (targetSection) {
                    targetSection.classList.remove("hidden");
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const motor1Div = document.querySelector('[data-section-id="motor1"]');
        const motor2Div = document.querySelector('[data-section-id="motor2"]');
        const motor1Image = document.getElementById('motor1');
        const motor2Image = document.getElementById('motor2');
        const descMotor1 = document.getElementById('descMotor1');
        const descMotor2 = document.getElementById('descMotor2');
        const line1 = document.getElementById('line1');
        const line2 = document.getElementById('line2');

        motor1Div.addEventListener('click', function(event) {
            event.preventDefault();
            motor1Image.classList.remove('hidden');
            motor2Image.classList.add('hidden');
            
            descMotor1.classList.remove('text-gray-400');
            descMotor2.classList.add('text-gray-400');
            
            line1.classList.remove('dark:bg-gray-400');
            line2.classList.add('dark:bg-gray-400');
        });

        motor2Div.addEventListener('click', function(event) {
            event.preventDefault();
            motor2Image.classList.remove('hidden');
            motor2Image.classList.add('flex');
            motor1Image.classList.add('hidden');

            descMotor2.classList.remove('text-gray-400');
            descMotor1.classList.add('text-gray-400');

            line2.classList.remove('dark:bg-gray-400');
            line2.classList.add('dark:bg-black');
            line1.classList.add('dark:bg-gray-400');
            
        });
    });
</script>

